{% extends "forth_task/menu.html" %}
{% load static %}
{% block pagename %}
<h1 align="center">{{ description }}</h1>
{% endblock %}

{% block mainmenu %}
    {{ block.super }}

{% endblock %}

{% block content %}
     <table width="100%" cellpadding="50">
    <tr>
      <td width="50%">
        <img src="{% static photo_summer %}" alt="Домик у Озера летом">
      </td>
      <td width="50%" align="left">
        <p>Если вам хочется отдохнуть от городской суеты, полюбоваться красотой карельского озера и леса, но если по этом вам важен уют и комфорт - приезжайте в Домик у Озера!
            <br><br>
        Наше "место силы" - Карелия, Важинская Пристань, ул. Озёрная, 5.<br>
        76 километров от Петрозаводска, озеро Святозеро.<br><br>

        Предлагаем арендовать дом со всеми удобствами: две спальни (двуспальная кровать + две односпальных), кухня-гостиная, тёплый туалет, панорамные окна с видом на озеро.<br>

</p>
      </td>
    </tr>
    <tr>
      <td width="50%" align="left">
        <p align="left">Вокруг дома – большая территория (30 соток), озеро, лес с ягодами и грибами, тишина и покой - всё, что нужно, чтобы отвлечься от городской суеты и отдохнуть!
            <br><br>
            Как добраться?<br>
            Проще всего – на своей машине.<br>
            Если машины нет, или вы прибыли в Петрозаводск из другого города, мы вас встретим и проводим.
            <br><br>
            По любым вопросам звоните по телефону +7-921-726-33-61 (Надежда) или пишите в любом мессенджере.</p>
      </td>
      <td width="50%" >
        <img src="{% static photo_winter %}" alt="Домик у Озера зимой">
      </td>
    </tr>
  </table>

<a href="/lakehouse"><button class="small_button">Вернуться</button></a>

{% endblock %}

</body>
</html>